.has-background-primary {
  background-color: #ccc !important;
}
.has-text-primary {
  color: #ccc !important;
}

.button.is-primary,
.button.is-primary[disabled],
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus,
.file.is-primary .file-cta,
.notification.is-primary,
.table td.is-primary,
.table th.is-primary,
.tag:not(body).is-primary,
.message.is-primary .message-header,
.navbar.is-primary,
.hero.is-primary
{
  background-color: #ccc;
}
.progress.is-primary::-webkit-progress-value,
.progress.is-primary::-moz-progress-bar,
.progress.is-primary::-ms-fill {
  background-color: #ccc;
}
.button.is-primary.is-inverted,
.button.is-primary.is-inverted[disabled],
.button.is-primary.is-outlined,
.button.is-primary.is-outlined[disabled],
.button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined:focus,
.help.is-primary,
.hero.is-primary .tabs.is-boxed li.is-active a, .hero.is-primary .tabs.is-boxed li.is-active a:hover, .hero.is-primary .tabs.is-toggle li.is-active a, .hero.is-primary .tabs.is-toggle li.is-active a:hover  {
  color: #ccc;
}
a.has-text-primary:hover, a.has-text-primary:focus {
  color: #000 !important;
}
.button.is-primary:hover, .button.is-primary.is-hovered,
.file.is-primary:hover .file-cta, .file.is-primary.is-hovered .file-cta {
  background-color: #fff;
}
.button.is-primary:active, .button.is-primary.is-active,
.file.is-primary:active .file-cta, .file.is-primary.is-active .file-cta,
.navbar.is-primary .navbar-brand > a.navbar-item:hover, .navbar.is-primary .navbar-brand > a.navbar-item.is-active,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand .navbar-link.is-active,
.navbar.is-primary .navbar-brand > a.navbar-item:hover, .navbar.is-primary .navbar-brand > a.navbar-item.is-active,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand .navbar-link.is-active,
.hero.is-primary a.navbar-item:hover, .hero.is-primary a.navbar-item.is-active,
.hero.is-primary .navbar-link:hover,
.hero.is-primary .navbar-link.is-active {
  background-color: #fff;
}
.button.is-primary.is-outlined,
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined[disabled],
.input.is-primary,
.textarea.is-primary,
.select.is-primary:not(:hover)::after,
.select.is-primary select,
.table td.is-primary,
.table th.is-primary,
.message.is-primary .message-body   {
  border-color: #ccc;
}
.button.is-primary.is-outlined.is-loading::after {
  border-color: transparent transparent #ccc #ccc !important;
}
.select.is-primary select:hover, .select.is-primary select.is-hovered {
  border-color: #fff;
}
.hero.is-primary.is-bold {
  background-image: linear-gradient(141deg, #000 0%, #ccc 71%, #fff 100%);
}
.button.is-primary:focus:not(:active), .button.is-primary.is-focused:not(:active),
.input.is-primary:focus, .input.is-primary.is-focused, .input.is-primary:active, .input.is-primary.is-active,
.textarea.is-primary:focus,
.textarea.is-primary.is-focused,
.textarea.is-primary:active,
.textarea.is-primary.is-active,
.select.is-primary select:focus, .select.is-primary select.is-focused, .select.is-primary select:active, .select.is-primary select.is-active {
  box-shadow: 0 0 0 0.125em rgba(0,0,0,0.5);
}