<section class="section cta">
    <div class="container">
        {% if block.heading %}
        <h2 class="title">{{ block.heading }}</h2>
        {% endif %}
        {% if block.subheading %}
        <h3 class="subtitle">{{ block.subheading }}</h3>
        {% endif %}
        {% if block.content %}
        <div class="content">
            {{ block.content }}
        </div>
        {% endif %}
        <div>
            <a class="button is-primary is-large" href="{{ block.button_url }}">{{ block.button_text }}</a>
        </div>
    </div>
</section>