<section class="media-feature section{% if block.background_style == 'Brand Color' %} is-primary has-background-primary has-text-light{% endif %}{% if block.background_style == 'Light' %} is-light has-background-light has-text-dark{% endif %}{% if block.background_style == 'Dark' %} is-dark has-background-dark has-text-light{% endif %}
{% if block.image_position %}
    {% if block.image_position == 'Left' %} media-feature--image-left{% endif %}
    {% if block.image_position == 'Right' %} media-feature--image-right{% endif %}
    {% if block.image_position == 'Top' %} media-feature--image-top{% endif %}
    {% if block.image_position == 'Bottom' %} media-feature--image-bottom{% endif %}
{% endif %}">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths media-feature__image {% if block.image_shadow %}media-feature__image--shadow{% endif %}">
                <img src="{{ block.image }}" />
            </div>
            <div class="column media-feature__content">
                {% if block.heading %}
                    <h2 class="title">{{ block.heading }}</h2>
                {% endif %}
                {% if block.subheading %}
                    <h3 class="subtitle">{{ block.subheading }}</h3>
                {% endif %}
                {% if block.content %}
                    <div class="content">
                    {{ block.content | markdownify }}
                    </div>
                {% endif %}
                {% if block.button_url and block.button_text %}
                <a class="button is-primary" href="{{ block.button_url }}">{{ block.button_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>