<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include nav.html %}
        <main id="primary-content">

            {% for block in page.blocks %}
        
                <!-- MEDIA FEATURE -->
                {% if block.template == 'media-feature' %}
                    {% include block-mediafeature.html %}
                <!-- HERO SECTION -->
                {% elsif block.template == 'hero-section' %}
                    {% include block-herosection.html %}
                {% endif %}
        
            {% endfor %}
        
        </main>
        {% include footer.html %}
    </body>
</html>